@use "../variables/variables";
@use "../mixins/mixins";

footer {
  padding: 60px 5% 24px 5%;
  .footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 3rem;
    div {
      @include mixins.flex(flex-start, flex-start, column);
      ul {
        @include mixins.flex(flex-start, flex-start, column);
        li {
          &:not(:last-child) {
            margin-bottom: 1.1rem;
          }
        }
      }
      span {
        @include mixins.typography-style("body-text-large");
        color: variables.$main-color;
        margin-bottom: 1rem;
      }
      a {
        @include mixins.typography-style("body-text-medium");
        color: variables.$grey;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer__year-wrapper {
    @include mixins.flex(flex-start);
    span {
      margin-right: 2rem;
      @include mixins.typography-style("body-text-medium");
      color: variables.$grey;
    }
    ul {
      @include mixins.flex();
      li:not(:last-child) {
        margin-right: 2rem;
      }
      a {
        @include mixins.typography-style("body-text-medium");
        color: variables.$grey;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
   .footer__accordion {
      display: none;
    }
  @media screen and (max-width: 767px) {
    .footer__grid {
      display: none;
    }
    .footer__year-wrapper {
      @include mixins.flex(center, flex-start, column);
      span {
        margin-right: 0;
        margin-bottom: 0.75rem;
      }
      ul {
        @include mixins.flex(center, flex-start, column);
        li:not(:last-child) {
          margin-right: 0;
          margin-bottom: 0.75rem;
        }
      }
    }
    .footer__accordion {
      display: block;
      margin-bottom: 3rem;
      details[open] {
        summary {
          svg {
            transform: rotate(180deg);
          }
        }
      }
      details:nth-child(4) {
        border-bottom: 1px solid variables.$stroke;
      }
      summary {
        @include mixins.flex(space-between);
        @include mixins.typography-style("body-text-large");
        color: variables.$main-color;
        padding: 1rem 0;
        border-top: 1px solid variables.$stroke;
      }
      .footer__accordion__content {
        ul {
          @include mixins.flex(flex-start, flex-start, column);
          padding-bottom: 1rem;
          li {
            &:not(:last-child) {
              margin-bottom: 1.1rem;
            }
            a {
              @include mixins.typography-style("body-text-medium");
              color: variables.$grey;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
