@use "../variables/variables";
@use "../mixins/mixins";
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$white-color;
  padding: 30px 5%;
  nav ul {
    display: flex;
    li {
      &:not(:last-child) {
        margin-right: 32px;
      }
      a {
        @include mixins.typography-style("body-text-large");
        color: variables.$main-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
